<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ozarks Medical Center Quality Dashboard v2</title>
	
   
   <!--bower:css-->
   <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
   <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css' />
   <link rel='stylesheet' href='/lib/slideout.js/index.css' />
   <!--endbower-->
   
   <!--inject:css-->
   <link rel="stylesheet" href="/css/custom.css">
   <!--endinject-->
   
   <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
   
   <!--bower:js-->
   <script src="/lib/jquery/dist/jquery.js"></script>
   <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
   <script src="/lib/emitter-es6/browser/index.js"></script>
   <script src="/lib/slideout.js/dist/slideout.min.js"></script>
   <!--endbower-->
   
   <!--inject:js-->
   <script src="/js/dashboard_dictionary.js"></script>
   <!--endinject-->
  
   
</head>
<body>

</body>
</html>
